@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
    margin : 0px;
    padding : 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */ 
    position: absolute;
}

body::-webkit-scrollbar {
  display: none;
}

div.section {
    position: relative;

    z-index: 10;
    width : 100%;
    height: 100%;

}

.animated-title {
    position: relative;
    opacity: 0;
    top : 0%;
    color : white;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

div#content-bar {
    position: fixed;
    z-index: 100;
    height: 10%;
    width :20%;
    background-color : black
}

#logo {
    background : url("./images/logo.png") no-repeat center center; 
    
    opacity: 1;

    position: relative;
    height: 20%;
    width: 100%;

    top:15%;

    background-size:contain;
}

div.content-bar-down {
    bottom : 10px;
    left: 50%;
    margin-left: -10%;
}
div.content-bar-up {
   top : 10px;
    left: 50%;
    margin-left: -10%;  
}

div.background {
    position: fixed;
    width : 100%;
    height : 100%;

    z-index: 10;
}

canvas#canvas-background{
    position: relative;
    z-index: inherit
}


div.black {
    background-color: black;
}

div.white {
    background-color: white;
}

div.invisible{
    background-color : rgba(255, 255, 255, 0);
}

div#button-slide {
    position: relative;
    height: 4%;
    width: 30%;
    top: 20%;
    left: 35%;
    opacity: 0;
    background-color: gainsboro;
    border: solid white;

    cursor: pointer;
}

div#slide {


    position: relative;
    font-size: 0.3em;
    color : black;
    font-family: 'Oswald', sans-serif;
    vertical-align: middle;
    margin-left: 0px;
    background-color: white;

    width  : 20%;
    height : 100%;
} 